#addTimerForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

#addTimerForm container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 5px;
  padding: 5px;
}

#addTimerForm input, 
#addTimerForm #addDomainButton {
  flex: 1;
  height: 30px;
  padding: 5px;
  border-radius: 3px;
  margin: 2px 5px;
  width: 97%;
  border: 1px solid #fff;
}

#addTimerForm .timerDomain {
  position: relative;
}

#addTimerForm .timerDomain .cancelDomain {
  padding: 0;
  border: none;
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 1.2rem;
}

#addTimerForm #timerButtons {
  display: flex;
  margin: 3px 5px 5px 5px;
}

#addTimerForm #timerButtons button {
  flex: 1;
}

