@import url('https://fonts.googleapis.com/css?family=Lora|Lato');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
  font-size: 15px;
  font-weight: 100;
  line-height: 1.2em;
  background-color:var(--background-color);
  color: silver;
  list-style: none;
  border: none;
  outline-color: goldenrod;

  --header-font: 'Lora';
  --default-font: 'Lato';
  --background-color: #222;
}

body {
  width: 400px;
}

button {
  cursor: pointer;
  border-radius: 3px;
  padding: 8px;
}

button:hover {
  animation-name: color-white;
  animation-duration: 500ms;
  animation-fill-mode:forwards;
}

.popupHeader {
  height: 60px;
  text-align: center;
  border-bottom: 0.5px solid #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popupHeader p {
  color: #ddd;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-top: 0px;
}

h1 {
  font-family: var(--header-font);
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 1rem;
  text-align: center;
  margin-left: 1rem;
  animation-name: color-gold;
  animation-duration: 4000ms;
  animation-fill-mode: forwards;
}

h2 {
  font-size: 1.2rem;
}

ul {
  display: flex;
  flex-direction:column;
}

#mainButtons {
  display: flex;
  justify-content: flex-end;
}

#mainButtons * {
  outline: none;
}

#timers {
  max-height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.timer {
  flex: 1;
  min-height: 50px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid #fff;
  margin: 2px;
  order:2;
  position: relative;
}

.timer * {
  padding: 5px;
}

.timer span {
  font-size: 2.4rem;
}

.timer label {
  margin-right: auto;
}

.timer button {
  border: none;
}

.timerTime {
  position: absolute;
  color: silver;
  margin: auto;
  left: 30vw;
  bottom: 3vw;
  background: transparent;
  /* border: 1px solid #fff; */
  line-height: 1rem;
}

#browserTimer {
  order:1
}

#browserTimer .timerOptions {
  cursor: pointer;
  margin: 0;
}

.timerOptions button {
  padding: 0 5px;
  margin: 0;
  outline: none;
}

#initTimer {
  margin: 2px;
}

container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 5px;
  padding: 5px;
}

form label, form header {
  display: block;
  margin: 0 auto;
  padding: 3px;
  margin-top: 5px;
  text-align: center;
  font-size: 1.2rem;

  line-height: 1.2;
  font-family: var(--header-font);
}

input, .addDomainButton, .addCurrentDomainButton {
  flex: 1;
  height: 30px;
  padding: 5px;
  border-radius: 3px;
  margin: 2px 5px;
  margin-left: 8px;
  width: 96vw;
  border: 1px solid #fff;
}

.timerDomain {
  position: relative;
}

.timerDomain .cancelDomain {
  padding: 0;
  border: none;
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 1.2rem;
}

#timerButtons {
  display: flex;
  margin: 5px;
  margin-top: 2px;
}

#timerButtons button {
  flex: 1;
  margin: 0 3px;
}

@keyframes color-white {
  100% {
    color: #fff;
  }
}

@keyframes color-gold {
  0% {
    color: var(--background-color);
  }

  33% {
    color: gold;
  }

  66% {
    color: gold;
  }

  100% {
    color: goldenrod;
  }
}